@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
}

.editor-code {
    font-size: 40px;
}

code span {
    font-size: 13px;
}

code.editor-code ltr::before {
    font-size: 16px;
}